<p>
  Congratulations on getting admin access to Dr. Z's application! But I have
  some bad news: the information we need isn't there! We (me and the trusty
  Gizmometer) are pretty sure it's on another application. We need you to
  crack Dr. Z's real password this time!
</p>

<p>
  We retrieved the full password database. It has more password hash formats
  than any database we've ever seen!
</p>

<p>
  Dr. Z has the password that we need to continue, so definitely crack his! But
  if you have time, wanna try some others?
</p>

<%=
  erb(:hint, locals: {
    hint_name: "Hint 1: Tool",
    hint: 'John the Ripper with the "Jumbo" patch can crack the formats you need'
  })
%>

<%=
  erb(:hint, locals: {
    hint_name: "Hint 2: Wordlist",
    hint: "The hashes are 100% lowercase <a href='http://downloads.skullsecurity.org/passwords/english.txt.bz2'>English words</a> - no, I have no idea what Dr.Z was thinking!"
  })
%>

<%=
  erb(:hint, locals: {
    hint_name: "Hint 3: Format",
    hint: "Dr.Z's password hash is easy to crack, but you might need to use --format in JtR!"
  })
%>

<%=
  erb(:hint, locals: {
    hint_name: "Hint 4: Password-optimized hashes",
    hint: "There is a pretty good chance you won't be able to crack the password-optimized hashes at all - don't worry about it!"
  })
%>

<div class='level level4 rounded'>
  <%= erb(:message_box, :locals => { completed: completed, messages: messages, errors: errors }) %>

  <p>Unsalted passwords</p>

  <pre class='code'>
# Windows LANMAN - unsalted 7-bit DES
john:<%= hash_lanman('lawlessandroid') %>
david:<%= hash_lanman('unknownjanitor') %>

# Windows NT (NTLM) - unsalted md4
phil:<%= hash_ntlm('accountant') %>
dr.z:<%= hash_ntlm(LEVEL4[:answer]) %>
  </pre>

  <p>Salted passwords</p>

  <p>Notice that when you refresh the page, these change? But, you can still crack them quite quickly?</p>

  <pre class='code'>
# Classic UNIX DES (salted 8-bit DES)
katey:<%= hash_crypt('seagull') %>
maurice:<%= hash_crypt('lizard') %>

# Mediawiki - salted MD5
walter:<%= hash_mediawiki('rude') %>
lawrence:<%= hash_mediawiki('mean') %>
igner:<%= hash_mediawiki('slow') %>
ma:<%= hash_mediawiki('evil') %>
  </pre>

  <p>Password-optimized hashes</p>

  <p>
    Even though these are similarly simple password, can you even crack them?
    How slow is it running?
  </p>

  <pre class='code'>
# BCrypt
boxie:<%= hash_bcrypt('beep', 6) %>
calcutron:<%= hash_bcrypt('famous', 8) %>
don:<%= hash_bcrypt('organized', 10) %>
clips:<%= hash_bcrypt('clips', 12) %>

# Argon2 - may not work in John the Ripper
professor:<%= hash_argon2('ancient') %>
phillip:<%= hash_argon2('orange') %>
  </pre>
</div>

<div class='answer'>
  <p>What is Dr. Z's password?</p>

  <%= erb :answer %>
</div>
