<p>
  Great job! Now that we have Dr. Z's password, we can finally read his plan!
</p>

<p>
  ...or we would, if it wasn't encrypted! The entire plan can only be read
  or written using state of the art AES-256 encryption!
</p>

<p>
  Can you decrypt it?
</p>

<%=
  erb(:hint, locals: {
    hint_name: "Hint",
    hint: "There might be a padding oracle here..."
  })
%>

<%=
  erb(:hint, locals: {
    hint_name: "Hint",
    hint: "Have you read <a href='https://blog.skullsecurity.org/2013/padding-oracle-attacks-in-depth'>this blog post</a>?"
  })
%>

<%=
  erb(:hint, locals: {
    hint_name: "Hint",
    hint: "What about <a href='https://blog.skullsecurity.org/2013/a-padding-oracle-example'>this one</a>?"
  })
%>

<%=
  erb(:hint, locals: {
    hint_name: "Hint",
    hint: "Have you tried <a href='https://github.com/iagox86/poracle'>Poracle</a>?"
  })
%>

<%=
  erb(:hint, locals: {
    hint_name: "Hint",
    hint: "You'll want to use Poracle's decrypt_with_embedded_iv()"
  })
%>

<p>
  Dr. Z, the fool, gives overly verbose output and embeds the IV! Use that to
  your advantage!!
</p>

<div class='level level5 rounded'>
  <%= erb(:message_box, :locals => { completed: completed, messages: messages, errors: errors }) %>

  <form method='GET'>
    <input type='hidden' name='action' value='decrypt' />
    <input type='hidden' name='token' value='<%= token %>' />
    <p>Encrypted data <textarea name='encrypted' id='encrypted'><%= encrypted %></textarea></p>
    <p><input type='submit' value='Save' /></p>
  </form>
  <form method='GET'>
    <input type='hidden' name='action' value='reset' />
    <p><input type='submit' value='Reset (changes the key for levels 5, 6, and 7!)' /></p>
  </form>
</div>

<div class='answer'>
  <p>What is his secret plan name?</p>

  <%= erb :answer %>
</div>
